.banner {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(115,153,203,1) 59%, rgba(18,82,166,1) 100%);
height: 120vh; width: 100vw; color: white; font-size: 200px;
text-shadow: 0.1em 0.1em 0.2em black;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 9%;
}
li{
  font-size: 40px;
}
#imagem_banner{
position: absolute;
width: 986px;
height: 1200px;
left: 991px;
top: 156px;
background: url(image-removebg-preview.png);
}