#banner {
height: 180dvh; width: 100%; color: white;
/*gradiente tamanho sombra*/
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
justify-items: center;
align-items: center;
}
#banner >{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#texto_banner
{
    text-align: center;
}
#imagem_banner{
height: 80%;
left: 0%;
top: 8%;/*posição da imagem banner(quebrado por enquanto)*/
margin-left: auto;
}
