#dicas{
    background: linear-gradient(0deg, rgba(255, 255, 255) 0%, rgba(133, 166, 209, 0.62) 100%);
    color: white
}
.dicas-lista {
    list-style-type: none; /* Remove os pontos padrão da lista */
    padding: 0;
  }

  .dicas-lista li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-items: flex-start; /* Alinha a bolinha com o topo do texto */
  }

  .circledics {
    width: 50px;
    height: 50px;
    background-color: #7399CB; /* Cor da bolinha */
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 40px;
  }

  .dica-texto p {
    margin: 0; /* Remove o espaço extra */
  }
