#dicas{
  padding-right: 7%; 
  padding-left: 7%;
}

.dicas-lista {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.dicas-lista li {
  display: flex;
  align-items: flex-start; 
  margin-bottom: 20px; 
  gap: 20px; 
}

.circledics {
  width: 50px; 
  height: 50px;
  background-color: #7399CB; 
  border-radius: 50%; 
  flex-shrink: 0; 
}

.dicas-lista li p {
  margin: 0; 
  margin-right: 3cm; 
  line-height: 1.5; 
  text-align: justify; 
}
