#introducao .botao-azul-basico {
    width: 40%;
}
#introducao .botao-azul-basico > {
    padding: 0;
}
#introducao .info-card {
    width: 40%;
}

@media (max-width: 1023px) {
    #introducao .botao-azul-basico {
        width: 70%;
    }
    #introducao .info-card {
        width: 70%;
    }
  }