body {
  font-family: 'JetBrains Mono', monospace;
  padding: -1;
  width: 100vh;
  height: 350vh;
  background: #FFFFFF;
}
header {
  width: 100vh;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .container {
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}
header .logo {
  max-width: 10%;
}
header nav {
  display: flex; 
  gap: 20px;
}

header a {
  color: #fff; /* Cor do texto do link */
  text-decoration: none; /* Remove o sublinhado */
  font-weight: bold; /* Negrito para os links */
  transition: color 0.3s; /* Efeito de transição suave na cor */
}
header a:hover {
  text-decoration: white;
}
#imagem_banner{
position: absolute;
width: 986px;
height: 1200px;
left: 991px;
top: 156px;
background: url(image-removebg-preview.png);
}
section {
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: -5;
  margin-bottom: 0;
  margin-left: -20px;
  margin-right: -20px;
}
.caixa {
  background-color: rgb(115, 153, 203, 0.8);
}
