body {
  font-family: 'JetBrains Mono', monospace;
  padding: -1;
}
section{
  margin-top: -5;
  margin-bottom: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding: 10%;
}
.caixa{
  background-color: rgb(115,153,203,0.8);
}
