body {
  font-family: 'JetBrains Mono', monospace;
  padding: -1;
  width: 1920px;
  height: 6925px;
  background: #FFFFFF;
}

section {
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 10%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: -5;
  margin-bottom: 0;
  margin-left: -20px;
  margin-right: -20px;
}
.caixa {
  background-color: rgb(115, 153, 203, 0.8);
}