#marketing {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.divzona_mark{
    width: 100%
}
.img_mark{
    width: 33%;
}
.img_mark >{
    object-fit: cover;
}
.txt_mark{
    width: 66%;
}

