#marketing {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
}

.img_mark{
    width: 33%;
}
.img_mark >{
    object-fit: cover;
}
.txt_mark{
    width: 66%;
}

